In [2]:
#Introduction to list datatype:
# Definition : A list is defined as ordered collections of items.
#A list is classified as mutable datatype.
#how to define a list ----> []

In [3]:
students = ['Sourabh','Dinesh','Vineet','Sonam','Praveen','Deepak',]

In [4]:
type(students)

list

In [6]:
# accessing the individual elements on the output:
#introduction to indexing : 0,1,2,3.....

In [25]:
print(students[0])

Sourabh

In [8]:
print(students[1])

Dinesh

In [9]:
print(students[2])

Vineet

In [10]:
print(students[3])

Sonam

In [11]:
print(students[4])

Praveen

In [12]:
print(students[5])

Deepak

In [13]:
#How to modify, alter and delete the elements in the list data type

In [14]:
my_students = ['Sourabh Jha','Dinesh Jha','Vineet Jha','Sonam Jha','Praveen','Deepak Jha',] #0,1,2,3,4,5

In [15]:
print(my_students)

['Sourabh Jha', 'Dinesh Jha', 'Vineet Jha', 'Sonam Jha', 'Praveen', 'Deepak Jha']

In [16]:
#req : i want to change Sourabh name to Manu (reassignment)

In [17]:
my_students[0] = 'Manu Jha'

In [18]:
print(my_students)

['Manu Jha', 'Dinesh Jha', 'Vineet Jha', 'Sonam Jha', 'Praveen', 'Deepak Jha']

In [19]:
#req: 2 i want to add Mohit to the list
# adding new element to the current list.

In [20]:
my_students.append('Mohit Jha')

In [21]:
print(my_students)

['Manu Jha', 'Dinesh Jha', 'Vineet Jha', 'Sonam Jha', 'Praveen', 'Deepak Jha', 'Mohit Jha']

In [22]:
#req: to add yasmeet name at the 2 index, how to achieve that

In [23]:
my_students.insert(2,'yasmeen')

In [24]:
print(my_students)

['Manu Jha', 'Dinesh Jha', 'yasmeen', 'Vineet Jha', 'Sonam Jha', 'Praveen', 'Deepak Jha', 'Mohit Jha']

In [26]:
del my_students[4] # it will delete Sonam from the list

In [27]:
print(my_students)

['Manu Jha', 'Dinesh Jha', 'yasmeen', 'Vineet Jha', 'Praveen', 'Deepak Jha', 'Mohit Jha']

In [28]:
x = my_students.pop()

In [29]:
print(x)

Mohit Jha

In [30]:
print(my_students)

['Manu Jha', 'Dinesh Jha', 'yasmeen', 'Vineet Jha', 'Praveen', 'Deepak Jha']